/*font-family: 'Tajawal', sans-serif;*/
/*font-family: 'Pinyon Script', cursive;*/

/*font-family: 'Playfair Display', serif;*/

body {
    margin: 0px;
    overflow-x: hidden;
  }
  
  .topnav {
   display: flex;
   align-items: baseline;
    justify-content: space-between;
    background-color: #FBF4F4;
  }
  
  .logo {
    float: left;
    text-align: center;
    text-transform: lowercase;
    font-family: 'Playfair Display', serif;  
    text-decoration: none;
    font-size: 28px;
    color: #CF8D99;
    padding: 20px 60px;
  }
  
  nav a {
    font-family: 'Tajawal', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    color: #21383D;
    margin: 10px;
  }
  
  a.active{
    color: #CF8D99;
  }
  
  a.active, nav a:hover {
    position: relative;
  }
  
  a.active:after, nav a:hover::after{
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 2px;
    background: #CF8D99;
  }

.intro{
    display: flex;
    align-items: center;
}

.card {
    text-align: center;
    background-color: #EACDC6;
    color: #FBF4F4;
   width: fit-content;
}

#hello {
    font-family: 'Pinyon Script', cursive;
    font-size: 40px;
    align-items: center;
}

#name {
    font-size: 50px;
    font-family: 'Tajawal', sans-serif;
}

#from {
    font-family: 'Tajawal', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

h1{
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    width: 100%;
    height: 10px;
    margin-top: 80px;
    margin-bottom: 60px;
    text-align: center;
  }

body image {
    width: 500px;
    height: 250px;
}

.container{
    display: grid;
    grid-template-columns: 900px;
    grid-template-rows: auto;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    overflow: auto;
}

.gallery {
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gallery img{
    width: 100%;
    height: auto;
    border: 1px solid #21383D;
}


.gallery img:hover {
    opacity: 0.3;
    filter: alpha(opacity=30);
  }
  

.footerSection {
    background:#CF8D99;
    height: 90px;
    width: 100%;
    min-height: 5%;
    display: flex;
    position: absolute;
}


